# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
.env
kubernetes/terraform/terraform.tfstate*
kubernetes/terraform/terraform.tfvars
kubernetes/terraform/ya_k8s/terraform.tfstate*
kubernetes/terraform/ya_k8s/terraform.tfvars
kubernetes/terraform/ya_k8s/.terraform/providers/
