packer/variables.json
packer/files/immutable_variables.json
packer/yc_yandex.pem
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terraform/.terraform/
*.retry
jdauphant.nginx
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
